public/images/landing/study/bank/bg.mp4 filter=lfs diff=lfs merge=lfs -text
public/images/landing/guide/Small[[:space:]]Little[[:space:]]Orange[[:space:]]Lights[[:space:]]4K[[:space:]]Relaxing[[:space:]]Screensaver.mp4 filter=lfs diff=lfs merge=lfs -text
