@charset "utf-8";
html,
body,
body #__nuxt {
	height: 100%;
}
ul, ol {
    margin: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin:0 auto;
    font-optical-sizing: auto;
    font-style: normal;
    /* font-family: 'BMJUA', sans-serif; */
    font-size: 16px;
    line-height: 160%;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    background: #01143a;
    color: #fff;
  }

/* 공통 애니메이션 */

/* 페이드인 */
.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  .fade-in.show {
    opacity: 1;
  }
  
  /* 왼쪽에서 페이드인 */
  .from-left {
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  }
  .from-left.show {
    opacity: 1;
    transform: translateX(0);
  }
  
  /* 오른쪽에서 페이드인 */
  .from-right {
    opacity: 0;
  transform: translateX(100px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  }
  .from-right.show {
    opacity: 1;
    transform: translateX(0);
  }
  
  /* 아래에서 페이드인 */
  .from-bottom {
    opacity: 0;
    transform: translateY(100%);
    transition: all 1s ease;
  }
  .from-bottom.show {
    opacity: 1;
    transform: translateY(0);
  }
  
  /* 확대되면서 나타남 */
  .scale-up {
    opacity: 0;
    transform: scale(0.8);
    transition: all 0.8s ease;
  }
  .scale-up.show {
    opacity: 1;
    transform: scale(1);
  }
  
  .animate {
    opacity: 1;
    transform: translateX(0);
  }
