@charset "utf-8";
html,
body,
body #__nuxt {
	height: 100%;
}
ul, ol {
    margin: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin:0 auto;
    font-optical-sizing: auto;
    font-style: normal;


    /* font-family: 'BMJUA', sans-serif; */
    font-size: 16px;
    line-height: 160%;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
